[Unit]
Description=Rancher service
After=network.target
  
[Service]
Type=simple
LimitNOFILE=65536
ExecStart=/usr/bin/rancher-run.sh
Restart=always
TimeoutSec=600
  
[Install]
WantedBy=multi-user.target
